# Ruby
.rvmrc
.rbenv-version
.rbenv-gemsets

# Bundler
.bundle/

.librarian/
.tmp/

# Emacs
*~
\#*\#
.\#*

# SublimeText
*.sublime-workspace

# Vim
.*.s[a-w][a-z]

# OS X
.DS_Store
Icon
._*

# This is a library, so don't pin
Gemfile.lock
Puppetfile.lock

# rspec
spec/fixtures
